*{
    padding: 0;
    margin: 0;
  }
.header{
    display: flex;
    background-color: rgba(0, 0, 0, 0.301);
    width: 100vw;
}
.logo{
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-left: 30px;
    justify-content: space-between;
}
.logo>img{
    width: 5rem;
}
.logo>h1{
    font-size: 1.8rem;
    text-shadow: 0 2px 10px rgb(0, 0, 0);

}