*{
    padding: 0;
    margin: 0;
  }
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}
.logo{
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-left: 100px;
    justify-content: space-between;
}
.logo>img{
    width: 5rem;
}
.logo>h1{
    font-size: 1.8rem;
    text-shadow: 0 2px 10px rgb(0, 0, 0);

}
.header>button{
    margin-right: 150px;
    width: 9rem;
    height: 2.5rem;
    background-color: #37694b;
    border: none;
    color: aliceblue;
    font-size: 1rem;
    font-family: roboto;
    font-weight: 500;
    border-radius: 4px;
    box-shadow: 0 2px 7px rgb(200, 255, 3);
    text-shadow: 0 2px 10px gray;
}